<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bannerlord.ButterLib" version="1.0.38" targetFramework="net472" developmentDependency="true" />
  <package id="Bannerlord.MCM" version="4.3.23" targetFramework="net472" />
  <package id="Bannerlord.UIExtenderEx" version="2.1.13" targetFramework="net472" developmentDependency="true" />
  <package id="Bannerlord.ModuleManager.Source" version="3.0.94" targetFramework="net472" />
  <package id="Lib.Harmony" version="2.2.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="Serilog.Extensions.Logging" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Serilog" version="2.11.0-dev-01380" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="5.0.1-dev-00947" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>